---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import BurgerMenu from "../components/burgerMenu.astro";
import { links } from "../js/links";
import Menu from "./menu.astro";
---
<head>
    <meta charset="UTF-8">
</head>

<Header links={links}/>
<BurgerMenu active={false} />
<Menu/>
    <div class="w-full h-screen px-96 py-48 bg-zinc-800 max-xl:px-4">
        <h1 class="text-4xl text-zinc-100">Pagina Precios</h1>
    </div>
<Footer/>