<footer
  class="w-full h-auto py-12 px-96 max-xl:px-4 bg-zinc-900 flex flex-col items-center gap-10"
>
  <div class="grid grid-cols-3 max-xl:flex flex-col max-xl:justify-center flex-wrap max-xl:gap-4 gap-96">
    <ul class="text-zinc-100 font-thin flex flex-col gap-2">
      <li>
        <a class="font-semibold text-xl tracking-wider" href="#">IWON</a>
      </li>
      <li>
        <a href="#">Videos</a>
      </li>
      <li>
        <a href="#">Prods</a>
      </li>
      <li>
        <a href="#">Saber Más</a>
      </li>
    </ul>
    <ul class="text-zinc-100 font-thin flex flex-col gap-2">
      <li>
        <a class="font-semibold text-xl tracking-wider" href="#">Visión</a>
      </li>
      <li>
        <a href="#">Concurso</a>
      </li>
      <li>
        <a href="#">Academia</a>
      </li>
      <li>
        <a href="#">Cine</a>
      </li>
    </ul>
    <ul class="text-zinc-100 font-thin flex flex-col gap-2">
      <li>
        <a class="font-semibold text-xl tracking-wider" href="#">Acerca</a>
      </li>
      <li>
        <a href="#">Nuestro compromiso</a>
      </li>
      <li>
        <a href="#">Paises</a>
      </li>
      <li>
        <a href="#">Colaborar</a>
      </li>
    </ul>
  </div>
  <span class="text-zinc-100 text-md font-light">IWON 2022</span>
</footer>
